<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Clients</h1>

<table th:border="1" th:cellspacing="4" th:width="200">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>
        <th>Second name</th>
        <th>Age</th>
        <th>Sex</th>
    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.clientId}" th:align="center">Id</td>
        <td th:text="${client.clientName}" th:align="center">Name</td>
        <td th:text="${client.clientSecondName}" th:align="center">Second Name</td>
        <td th:text="${client.roleId}" th:align="center">Role id</td>
        <td th:text="${client.age}" th:align="center">Age</td>
        <td th:text="${client.sex}" th:align="center">Sex</td>
    </tr>
</table>
<br>
<a th:href="'/api/registration'">регистрация</a>
</body>
</html>