<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Регистрация - Shorty</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="form">
    <form action="/client-service/api/registration" th:object="${client}" method="post">
        <h2>Регистрация</h2>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="name" placeholder="Имя" required>
        </div>

        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="second_name" placeholder="Фамилия" required>
        </div>

        <div aria-hidden="true">
            <input type="date" name="age" min="1940-01-01" max="2022-01-01" data-date-inline-picker="true" required>
        </div>

        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="password" placeholder="Пароль" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   title="Должен содержать не менее одной цифры и одной прописной и строчной буквы, а также не менее 8 символов."
                   required>
        </div>

        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="confPassword" placeholder="Подтвердите пароль"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   title="Должен содержать не менее одной цифры и одной прописной и строчной буквы, а также не менее 8 символов."
                   required>
        </div>

        <div>

            <label class="rad-label">
                <input type="radio" class="rad-input" name="rad" checked>
                <div class="rad-design"></div>
                <div class="rad-text">Мужчина</div>
            </label>

            <label class="rad-label">
                <input type="radio" class="rad-input" name="rad">
                <div class="rad-design"></div>
                <div class="rad-text">Женщина</div>
            </label>

        </div>

        <div class="input-box">
            <input type="submit" name="sign-in" value="Зарегистрироваться">
        </div>
        <a href="/" class="register-btn">&lt;&nbspГлавная страница</a>
    </form>
</div>
</body>
</html>